{% extends 'base.html' %} {% block content %}
<div class='row mb-3'>
<h3 class='col-md-8 mx-auto col-11'>welcome to twitter clone</h3></div>
<div class='row mb-3'>

    <div class='col-md-8 mx-auto col-11'>
        <form class='form' , method='POST' , action="{% url 'tweets:tweet_createView' %}" id='createTweetForm'>
            {%csrf_token%}
            <input type='hidden' name='next' value='/'>
            <div id='tweet-create-form-error' class="d-none alert alert-danger"></div>
            <textarea class='form-control' required name='content' placeholder="your tweet"></textarea>
            <button class='btn btn-primary float-right' type="submit">Send tweet</button>
            </textarea>
        </form>
    </div>
</div>
<div id='tweets' class='row'></div>

<script>
    const form = document.getElementById('createTweetForm');

    form.addEventListener('submit', handleFormDidSubmit);
    loadTweets('tweets')


function handleTweetFormError(msg, display){
    var myErrorDiv = document.getElementById("tweet-create-form-error")
    if (display === true) {
        // show error
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    } else {
        // hide error
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}
    function handleFormDidSubmit(event) {
        event.preventDefault()
        const form = event.target
        form_data = new FormData(form)

        method = form.getAttribute('method')

        const url = '{% url 'tweets:tweet_createView' %}'

        const xhr = new XMLHttpRequest()

        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function() {
            if (xhr.status === 201) {
                console.log(xhr.response)
                form.reset()
            }
            else if (xhr.status === 400) {
                alert(xhr.response)
                form.reset()
            }

            loadTweets('tweets')

        }
        xhr.send(form_data)



    }

    function loadTweets(tweetElementId) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '{% url 'tweets:tweet_listView' %}'
        const responseType = "json"
        const tweets = document.getElementById(tweetElementId)

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            tweets.innerHTML = ''
            for (var i = 0; i < xhr.response.length; i++) {
                tweets.innerHTML += formatTweet(xhr.response[i])
            }
        }
        tweets.innerHTML = 'loading'
        xhr.send()
    }

    function formatTweet(tweet) {
        tweet_html = `<div class='col-12 border p-3 m-3' id='tweet-${tweet.id}'>`
        tweet_html += `<h5>${tweet.id}</h5><h6>${tweet.content}</h6>`
        tweet_html += likeBtn(tweet)
        tweet_html += `</div>`

        return tweet_html
    }


    function likeBtn(tweet) {
        return `<button class='btn btn-primary float-right' onclick='handleLike(${tweet.id}, ${tweet.likes})'>${tweet.likes} Likes</button>`
    }

    function handleLike(tweet_id, tweet_likes) {
        console.log(tweet_id)
    }
</script>

{% endblock content %}