  <div class='row'>
    <app-user-card class="col-3  position-fixed"></app-user-card>

    <div class="col-7 offset-3 ">
      <div class="row">
        <form (submit)="handleNewTweet()" class="card col-12 offset-1 border-primary">
          <textarea required [(ngModel)]="newTweet" name="newTweet" class="form-control m-2"></textarea>
          <button type="submit" class="btn btn-primary m-2">send</button>
        </form>
      </div>
      <br />


      <div *ngIf="tweets">
        <div class="row" *ngFor="let tweet of tweets.results">
          <div class="card mb-2 offset-1 col-12 btn-light border-primary">
            <div class="card-body">
              <footer class="blockquote-footer ">@{{tweet.username }}</footer>
              <p class="card-text">{{ tweet.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
