<div [ngSwitch]="login" class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link" [class.active]="login" (click)="login = true" >Login</a></li>
      <li class="nav-item"><a class="nav-link" (click)="login = false" [class.active]="!login">Signup</a></li>
    </ul>
  </div>

  <form *ngSwitchCase="true">
    {{ errors }}
   
        username:
        <input type="text" name="username" [(ngModel)]="loginData.username"     class="form-control m-2"/>
      
        password:
        <input
          type="password"
          name="password"
          [(ngModel)]="loginData.password"
          class="form-control m-2"
        />
     
    <button (click)="handleLogin()" class="btn btn-outline-primary">login</button>
  </form>
  <form *ngSwitchCase="false">
   
        username:
        <input type="text" name="username" [(ngModel)]="signUpData.username" />
     
        email: <input type="text" name="email" [(ngModel)]="signUpData.email" />
      
        bio: <input type="text" name="bio" [(ngModel)]="signUpData.bio" />
     
        password:
        <input
          type="password"
          name="password"
          [(ngModel)]="signUpData.password"
        />
     
    <button (click)="handleSignUp()" class="btn btn-outline-primary">signup</button>
  </form>
</div>
