{% extends  'base.html' %}
{% block content %}
<h3>welcome to twitter clone</h3>
<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
<form class='form', method='POST', action="{% url 'tweets:tweet_createView' %}">
    {%csrf_token%}
    <input type ='hidden' name='next' value='/'>
    <textarea class='form-control' name='content' placeholder="your tweet"></textarea>
        <button class='btn btn-primary' type="submit">Send tweet</button>
    </textarea>
</form>
</div>
</div>
<div id='tweets' class='row'></div>

<script>
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '{% url 'tweets:tweet_listView' %}'
console.log(url)
const responseType = "json"
const tweets = document.getElementById("tweets")

function formatTweet(tweet) {
tweet_html =  `<div class='col-12 border-bottom p-3 m-3' id='tweet-${tweet.id}'><h5>${tweet.id}</h5><h6>${tweet.content}</h6></div>`
tweet_html += likeBtn(tweet)
return tweet_html
}


function likeBtn(tweet) {
return  `<button class='btn btn-primary' onclick='handleLike(${tweet.id}, ${tweet.likes})'>${tweet.likes} Likes</button>`
}

function handleLike(tweet_id, tweet_likes){
    console.log(tweet_id)
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function () {
    tweets.innerHTML = ''
    for(var i =0; i< xhr.response.length; i++) {
        tweets.innerHTML += formatTweet(xhr.response[i])
    }
}
tweets.innerHTML = 'loading'
xhr.send()
</script>

{% endblock content %}
