<nav class="navbar navbar-dark bg-primary navbar-expand-lg  btn-outline-primary fixed-top border pb-2">
    <a class="navbar-brand" href="/">Fake Twitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pull-right">
        
        <li class="nav-item float-right">
          <a class="nav-link active float-right" href="#" (click)='handleLog()'>{{ApiClient.isAuthorized? 'logout' : 'login'}}</a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>

      </form>
    </div>
  </nav>